.maincontainer2 {
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 80vh;
  background-image: url(../assets/img2.jpg);
}

.title2 {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: xx-large;
  text-shadow: -2px -2px white;
  margin: 0;
  font-weight: 700;
}
#form-create {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: stretch;
}
.cover2 {
  padding: 20px;
  background-color: aqua;
  border-radius: 20px;
  box-shadow: 10px 10px;
}
.unit2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5px;
}
.label2 {
  padding-bottom: 5px;
  font-size: larger;
  font-weight: 700;
}

.description2 {
  width: 250px;
  height: 50px;
}

.create-button2 {
  background-color: yellowgreen;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  margin: 10px auto 0 auto;
}

.create-button2 > input {
  background-color: yellowgreen;
  border: none;
  font-size: large;
  font-weight: 700;
}
